<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Point of Clarification</title>
    <meta name="description" content="Access to posts and comments from APDA's Point of Clarification Facebook group.">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta property="og:title" content="Point of Clarification">
    <meta property="og:description" content="Access to posts and comments from APDA's Point of Clarification Facebook group.">
    <link rel="icon" href="/static/smile.ico">
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/styles-min.css">
</head>
<body hx-ext="preload">
{% include template %}
</body>
<script src="/static/default-passive-events.js"></script>
<script src="/static/htmx.min.js"></script>
<script src="/static/preload-min.js"></script>
</html>
